/*公司公告 css*/
.notice-main{
  width: 1095px;
  position: absolute;
  left: 35px;
  top: 15px;
}
.notice-right{
  float: left;
  margin-bottom: 20px;
  
}
.notice-right h2{
  font-size: 20px;
  color: #26354c;
}
.notice-list{
  width: 100%;
  margin-top: 20px;
}
.notice-list li{
  width: 93.5%;
  padding:1% 2% 1% 4.5%;
  background: #fff;
  color: #444;
  line-height: 30px;
  float: left;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}
.notice-list li h4{
  font-size: 16px;
  float: left;
  display: block;

}
.notice-list li p{
  font-size: 13px;
  color: #666;
  width: 100%;
  display: block;
  float: left;
}
.notice-list li span{
  float: right;
  color: #666;
  font-size: 13px;
  display: block;
  margin-top: 5px;
}
.notice-list .new-icon{
  background: url(../img/new.png) no-repeat;
  width: 58px;
  height: 58px;
  position: absolute;
  top: 0;
  left: 0;
}
/*分页*/
.page{
  float: right;
}
.page input{
  background: #33a1e8;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  width: 105px;
  height: 38px;
  margin-left: 20px;
  font-family: '微软雅黑';
  border-radius: 5px;
  text-align: center;
}
/*发布公告 css*/
.send-notice, .notice-content{
  width: 975px;
  left: 70px;
  position: absolute;
  background: #fff;
  padding: 20px;
  min-height: 700px;
  top:35px;
}

.title-category{
  width: 100%;
  margin-bottom: 10px;
  float: left;
  line-height: 32px;
}
.title-category h5{
  font-size: 18px;
  color:#26354c;
  float: left;
}
.title-category i.notice-icon:before{
  content: "\e604"; 
  float: left;
  color: #96161a;
  font-size: 18px;
  padding-right: 10px;
}


.release{
  background: #33a1e8;
}
.release:hover{
  background: #148ddb;
}
.cancel{
  background: #bbbbbb
}


/*公告内容 css*/
.notice-content{
  width: 960px;
  padding: 0 30px;
}

.notice-content .title{
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  text-align: center;
  
}
.notice-content .title h3{
  font-size: 20px;
  line-height: 42px;
  color: #444;
}
.notice-content .time{
  font-size: 14px;
  color: #444;
}
.notice-content .details-content{
  width: 100%;
  line-height: 32px;
  font-size: 14px;
  color: #666;
  padding: 10px 0;
}
.fr{
  float:right;
}